.mid{
  width: 640px;
  height: 100%;
  margin: 0 15px;
  overflow: auto;

  .box{
    width: 100%;
    // height: 1000px;
  }
}

.qqIcon {
  width: 180px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
