:root {
  --span-color: #FF8300;
  --span-click-color: #f99d3a;

  --back-main-color: rgb(255, 242, 229);
  --back-bottom-color: #f8a042;

  --btn-border-color: #FF8300;
  --btn-back-color: #FF8300;
}