.FirstCommentBack {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin: 5px 3px;
}

.avatar_box {
  width: 30px;
  height: 30px;
  margin-right: 8px;

  .avatar_img {
    width: 30px;
    border-radius: 50%;
  }
}

.name {
  color: #FF8300;
  margin-right: 3px;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: row;
}

.time {
  color: #939393;
}

.func {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.func_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.likeIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: -4px;
  color: gray;
}

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.main_box {
  width: 100%;
}

.num {
  margin-left: 3px;
  margin-top: 2px;
}

.num_click {
  margin-left: 3px;
  margin-top: 2px;
  color: #FF8300;
}

.likeIcon:hover {
  color: #FF8300;
}

.downBox {
  display: flex;
  flex-direction: row;
}

.downIcon {
  width: 14px;
  margin-left: 2px;
  cursor: pointer;
}

.dian{
  cursor: pointer;
  text-align: center;
  color: #FF8300;
  font-size: 16px;
}