.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(51, 51, 51, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .mask_main{
    width: 55%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 20px;
    padding: 30px 30px;
  }

  .deleteIcon{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .deleteIcon{
      width: 25px;
      height: 25px;
    }
  }
}

  .itemHeader {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .avatarBox {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #f2f2f2;
      overflow: hidden;

      .avatarImg {
        width: 50px;
      }
    }


    .info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 10px;
      flex: 1;

      .nickName {
        font-size: 14px;
        font-weight: 700;
        color: #333333;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        transition: all 0.2s;

        .tag {
          margin-left: auto;
        }
      }

      .nickName:hover{
        color: #FF8300;
      }

      .time {
        font-size: 12px;
        color: #939393;
      }
    }
  }

  .detailText {
    width: 100%;
    color: #333333;
    cursor: pointer;

    .title {
      font-size: 20px;
      font-weight: 700;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .content {
      line-height: 24px;
    }
  }

  .imgBox {
    width: 100%;
    padding: 15px 130px 10px 60px;

    .imgs {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 5px 5px;
      overflow: hidden;

      .img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }